wf/n8n-lead-webhook-workflow.json
{
  "name": "Lead Capture Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "lead-capture-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.email }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.name }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Validate Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "tu@email.com",
        "toEmail": "tu@email.com",
        "subject": "=🎯 Nuevo Lead: {{ $json.body.name }}",
        "text": "=Nuevo lead recibido:\n\nNombre: {{ $json.body.name }}\nEmail: {{ $json.body.email }}\nMensaje: {{ $json.body.message }}\nFuente: {{ $json.body.source }}\nFecha: {{ $now.toISO() }}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [700, 180],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=YOUR_TELEGRAM_CHAT_ID",
        "text": "=🎯 *Nuevo Lead*\n\n👤 Nombre: {{ $json.body.name }}\n📧 Email: {{ $json.body.email }}\n💬 Mensaje: {{ $json.body.message }}\n🔗 Fuente: {{ $json.body.source }}\n📅 Fecha: {{ $now.toISO() }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [700, 300],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_DATABASE_ID",
          "mode": "id"
        },
        "title": "={{ $json.body.name }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Email",
              "emailValue": "={{ $json.body.email }}"
            },
            {
              "key": "Mensaje",
              "richTextValue": "={{ $json.body.message }}"
            },
            {
              "key": "Fuente",
              "richTextValue": "={{ $json.body.source }}"
            },
            {
              "key": "Fecha",
              "dateValue": "={{ $now.toISO() }}"
            },
            {
              "key": "Estado",
              "selectValue": "Nuevo"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Add to Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [700, 420],
      "credentials": {
        "notionApi": {
          "id": "NOTION_CREDENTIAL_ID",
          "name": "Notion Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Lead recibido correctamente\", \"timestamp\": \"{{ $now.toISO() }}\" }"
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Response OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": \"Datos incompletos. Se requiere name y email.\" }",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Response Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 560]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Lead": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add to Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Response OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Notification": {
      "main": [
        [
          {
            "node": "Response OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Notion": {
      "main": [
        [
          {
            "node": "Response OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "lead-capture-workflow"
  },
  "tags": ["leads", "webhook", "notificaciones"]
}
